{% extends "layaout.html"%} 
{% block title%} hola soy titulo {% endblock%} 

{% block content %}
<h1>
    Sebastían EPH</h1>

<h2>Proyectos</h2>
<h2>Redes Sociales</h2>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>

<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>
<p>dsdfsdfsdfsdfsdsd</p>


<p>dsdfsdfsdfsdfsdsd</p>
{%endblock%}