{% extends "layaout.html"%} 
{% block title %}Proyectos personales{% endblock%}


{% block content %} 
<h1>Proyectos personales</h1>
    <h2>Library</h2>
        <h3>WindowsRegistryTools WRT- C#</h3>
        <h3>SendMessageByEmail - Python</h3>
        <h3>Conexión FTP - Python</h3>
    <h2>Games</h2>
        <h3>Super Bomberman 4 - GML</h3>
        <h3>Snake Game - GML</h3>
    <h2>Software</h2>
        <h3>FullWindowsOptimitation FWO - C#</h3>
        <h3></h3>
    <h2>Hacking</h2>
        <h3>Keylogger Windows</h3>
        <h3>Basic Spam for Emaill - Python</h3>
    <h2>Website</h2>
        <h3>This Personal website - Python</h3>
    <h2>Other</h2>
        <h3>Windows 10 System Icon Pack</h3>

{% endblock %}